<div class="java-notes">

    <!-- 表单提交部分 -->
    <div class="java-notes-form flex-column-center">

        <div class="notes-form-title">
            <input type="text" [(ngModel)]="title" placeholder="请输入标题" />
        </div>

        <div class="notes-form-img">
            <div class="img-del-btn" *ngIf="imageId">
                <div class="flex-center" (click)="cleanImage()">删除该图片</div>
            </div>

            <input type="file" name="file" #uploadFile style="display: none;" />

            <div class="img-content flex-center" (click)="uploadImage($event)">
                <img *ngIf="urlImage; else defaultImg" [src]="urlImage" alt="uploadImage" />

                <ng-template #defaultImg>
                    <svg t="1562924897031" class="icon" viewBox="0 0 1243 1024" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" p-id="3635" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="38" height="32">
                        <path
                            d="M962.194286 728.502857l-91.428572-128a36.571429 36.571429 0 0 0-59.245714 0l-61.44 85.942857-134.948571-192.731428a36.571429 36.571429 0 0 0-59.977143 0l-164.571429 235.154285a36.571429 36.571429 0 0 0-2.56 36.571429 36.571429 36.571429 0 0 0 32.548572 19.748571h512a36.571429 36.571429 0 0 0 29.622857-57.782857z"
                            fill="#FFC824" p-id="3636"></path>
                        <path
                            d="M962.194286 728.502857l-182.857143-256a36.571429 36.571429 0 0 0-59.245714 0L658.285714 556.982857l-135.68-193.828571a36.571429 36.571429 0 0 0-59.977143 0l-256 365.714285a36.571429 36.571429 0 0 0 59.977143 41.691429l226.011429-322.925714 226.011428 322.925714a36.571429 36.571429 0 0 0 29.988572 15.725714 36.571429 36.571429 0 0 0 29.988571-57.417143l-75.702857-109.714285 45.714286-64 153.234286 214.308571a36.571429 36.571429 0 0 0 29.622857 15.36 36.571429 36.571429 0 0 0 21.211428-6.948571 36.571429 36.571429 0 0 0 9.508572-49.371429zM374.857143 182.857143h-36.571429a36.571429 36.571429 0 0 1 0-73.142857h36.571429a36.571429 36.571429 0 0 1 0 73.142857z"
                            fill="#6B400D" p-id="3637"></path>
                        <path
                            d="M1133.714286 1024H109.714286a109.714286 109.714286 0 0 1-109.714286-109.714286V219.428571a109.714286 109.714286 0 0 1 109.714286-109.714285h82.285714a36.571429 36.571429 0 0 1 0 73.142857H109.714286a36.571429 36.571429 0 0 0-36.571429 36.571428v694.857143a36.571429 36.571429 0 0 0 36.571429 36.571429h1024a36.571429 36.571429 0 0 0 36.571428-36.571429V219.428571a36.571429 36.571429 0 0 0-36.571428-36.571428H557.714286a36.571429 36.571429 0 0 1 0-73.142857H1133.714286a109.714286 109.714286 0 0 1 109.714285 109.714285v694.857143a109.714286 109.714286 0 0 1-109.714285 109.714286z"
                            fill="#6B400D" p-id="3638"></path>
                        <path
                            d="M914.285714 182.857143m-146.285714 0a146.285714 146.285714 0 1 0 292.571429 0 146.285714 146.285714 0 1 0-292.571429 0Z"
                            fill="#FFC824" p-id="3639"></path>
                        <path
                            d="M914.285714 0a182.857143 182.857143 0 1 0 182.857143 182.857143 182.857143 182.857143 0 0 0-182.857143-182.857143z m0 292.571429a109.714286 109.714286 0 1 1 109.714286-109.714286 109.714286 109.714286 0 0 1-109.714286 109.714286z"
                            fill="#6B400D" p-id="3640"></path>
                    </svg>
                </ng-template>
            </div>
        </div>

        <div class="notes-form-textarea">
            <div class="textarea-content">
                <angular-editor [placeholder]="'请输入内容...'" [(ngModel)]="htmlContent"></angular-editor>
            </div>
        </div>

        <div class="form-bottom-btn">
            <div class="form-btn">
                <div class="flex-center" style="border: 1px solid #ddd;">编辑</div>
            </div>
            <div class="form-btn">
                <div class="flex-center" (click)="addJavaNotes()" style="background-color: #1890ff; color: #fff;">新增</div>
            </div>
        </div>

    </div>

    <!-- 随机显示部分 -->
    <div class="java-notes-random flex-column-center">
        <div class="random-center">

            <div class="random-title flex-start-bottom">
                <div class="random-title-des flex-rest">{{randomTitle ? randomTitle : '标题'}}</div>

                <div class="title-btn flex-start-center">
                    <div class="btn-click" (click)="refreshTheRandom($event)">
                        <button nz-button nzType="default">刷新</button>
                    </div>
                    <div class="btn-click" (click)="editTheRandom($event)">
                        <button nz-button nzType="primary">编辑</button>
                    </div>
                    <div class="btn-click" (click)="delTheRandom($event)">
                        <button nz-button nzType="danger">删除</button>
                    </div>
                </div>
            </div>

            <div class="random-image flex-center" *ngIf="randomImageUrl">
                <img [src]="randomImageUrl" alt="RandomImageUrl" />
            </div>

            <div class="random-describe">
                <div class="random-describe-content" [innerHTML]="randomHtmlContent">
                </div>
            </div>
        </div>
    </div>

    <!-- 列表部分 -->
    <div class="java-notes-list flex-column-center">
        <div class="list-center">

            <!-- 标题 -->
            <div class="list-title flex-start-bottom">
                <div class="flex-rest">All records</div>
                <div class="list-refresh">
                    <button nz-button nzType="primary">刷新</button>
                </div>
                <div class="list-title-select">
                    <select>
                        <option value="time">时间排序</option>
                        <option value="random">随机排序</option>
                    </select>
                </div>
            </div>

            <!-- 内容 -->
            <div class="record-list-main">

                <div class="list-main-item list-item-left">
                    <div class="main-item-container">
                        <div class="list-item-title">val.title</div>
                        <!-- <div class="list-item-content" [innerHTML]="randomHtmlContent"></div> -->
                        <div class="list-item-content">val.constent</div>
                    </div>
                </div>

                <div class="list-main-item">
                    <div class="main-item-container">
                        <div class="list-item-title">val.title</div>
                        <!-- <div class="list-item-content" [innerHTML]="randomHtmlContent"></div> -->
                        <div class="list-item-content">val.constent</div>
                    </div>
                </div>

            </div>

            <!-- 分页部分 -->
            <div class="record-list-pagination  flex-center">
                <div class="list-pagination-container flex-start-center">

                    <!-- 上一页 -->
                    <div class="list-pagination-item list-pagination-left flex-center">
                        <svg viewBox="64 64 896 896" data-icon="left" width="1em" height="1em" fill="currentColor"
                            aria-hidden="true">
                            <path
                                d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z">
                            </path>
                        </svg>
                    </div>

                    <div *ngIf="pageTotal < 9" class="flex-start-center">
                        <div *ngFor="let pageKey of pageTotalToArray()" class="list-pagination-item"
                            [ngClass]="{'pagination-item-selected': pageNum === (pageKey + 1)}">
                            {{pageKey + 1}}
                        </div>
                    </div>

                    <!-- 大于9页，并且当前页在1~5页内 -->
                    <div *ngIf="pageTotal > 9 && pageNum <= 5" class="flex-start-center">
                        <div *ngFor="let pageKey of [1, 2, 3, 4, 5]" class="list-pagination-item"
                            [ngClass]="{'pagination-item-selected': pageNum === pageKey}">
                            {{pageKey}}
                        </div>
                        <div class="list-pagination-item">...</div> <!-- 显示点点点和最后一页 -->
                        <div class="list-pagination-item">{{pageTotal}}</div>
                    </div>

                    <!-- 大于9页，并且当前页在倒数1~5页内 -->
                    <div *ngIf="pageTotal > 9 && pageNum >= (pageTotal - 5)" class="flex-start-center">
                        <div class="list-pagination-item">1</div> <!-- 显示第一页和点点点 -->
                        <div class="list-pagination-item">...</div>
                        <div *ngFor="let pageKey of pageToRecipArray()" class="list-pagination-item"
                            [ngClass]="{'pagination-item-selected': pageNum === pageKey}">
                            {{pageKey}}
                        </div>
                    </div>

                    <!-- 大于9页，并且当前页 不在最后5位 也不在前5位. 表示在区间内 -->
                    <div *ngIf="pageTotal > 9 && pageNum > 5 && pageNum < (pageTotal - 5)" class="flex-start-center">
                            <div class="list-pagination-item">1</div> <!-- 显示第一页和点点点 -->
                            <div class="list-pagination-item">...</div>
                            <div *ngFor="let pageKey of pageToIntervalArray()" class="list-pagination-item"
                                [ngClass]="{'pagination-item-selected': pageNum === pageKey}">
                                {{pageKey}}
                            </div>
                            <div class="list-pagination-item">...</div> <!-- 显示点点点和最后一页 -->
                            <div class="list-pagination-item">{{pageTotal}}</div>
                        </div>

                    <!-- 下一页 -->
                    <div class="list-pagination-item list-pagination-right flex-center">
                        <svg viewBox="64 64 896 896" data-icon="right" width="1em" height="1em" fill="currentColor"
                            aria-hidden="true">
                            <path
                                d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z">
                            </path>
                        </svg>
                    </div>

                    <!-- 搜索 -->
                    <div class="list-pagination-input flex-start-center">
                        <div class="pagination-input-container">
                            <input [(ngModel)]="pageJumpInto" />
                        </div>
                        <div class="pagination-input-submit">跳转</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>