html,body{
    padding:0;
    margin:0;
    text-align:center;
    overflow-x:hidden;
    width:100%;
    height:100%;
    box-sizing:border-box;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #f5f5f5;
    font-size:24px;
    -webkit-overflow-scrolling: touch;
}
#app{
    width:100%;
    height:100%
}
div,h1,h2,h3,p,ul,li{
    margin: 0;
    box-sizing:border-box;
    padding:0;
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
img{
    border: none;
    vertical-align:middle;
}
input,textarea{
    outline:none;
    -webkit-appearance: none;
}
.clear:after{
    content:"";
    display:block;
    clear:both;
}
.table:before{
    content:"";
    display:table;
}
* {
    padding:0;
    margin:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.mint-toast {
    width:260px;
    height:100px;
    line-height:60px;
    border-radius:15px;
    span {
        font-size:30px !important;
    }
    
}
.mint-toast-text {
        font-size:14px;
    }

.picker-toolbar {
    height:60px !important;
   margin-top:20px;
}
.mint-datetime-action {
    font-size:28px !important;
}
.picker-item {
    font-size:28px !important;
}
.picker-items{
    .picker-slot-center:nth-child(3) {
        display: none;
    }
}

.mint-indicator-wrapper {
    padding:28px;
    .mint-spinner-snake {
        width:40px;
        height:40px;    
    }
    .mint-indicator-text {
        font-size:30px;
    }
}

.mint-msgbox {
    width:70%;
    border-radius:10px;
    height:230px;
    font-size:30px;
    .mint-msgbox-title {
        font-size:30px;
        margin-bottom:10px;
    }
    .mint-msgbox-message {
        margin-bottom:10px;
    }
    .mint-msgbox-btns {
        height:100px;
        .mint-msgbox-btn {
             font-size:30px;
        }
       
    }
}

.flex-start,
.flex-start-center,
.flex-start-bottom,
.flex-column-center,
.flex-center {
    display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;     /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;  /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
}

// 主轴水平向右 顶部对齐
.flex-start {
    justify-content: flex-start;
    align-items: flex-start;
}

// 主轴水平向右 居中
.flex-start-center {
    justify-content: flex-start;
    align-items: center;
}

// 主轴水平向右 底部对齐
.flex-start-bottom {
    justify-content: flex-start;
    align-items: flex-end;
}

// 主轴水平向下 居中对齐
.flex-column-center {
    flex-direction: column;
    align-items: center;
}

// 居中对齐
.flex-center {
    justify-content: center;
    align-items: center;
}

// 占满剩余部分
.flex-rest {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

